<h2>Login</h2>
<form id="login-form">
    <label for="email-login">Email</label>
    <br>
    <input class="form-input" type="text" id="email-login" />
    <br>
    <br>
    <label for="password-login">Password</label>
    <br>
    <input class="form-input" type="password" id="password-login" />
    <br>
    <br>
    <button type="submit">Login</button>
</form>
<br>
<a class="login-link" href="/signup">Signup Instead</a>

<script src="./js/login.js"></script>

