<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form>
        <div class="form-group">
            <label for="title-post">Title</label>
            <input type="text" class="title-post" id="title-post">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Content</label>
            <input type="text" class="title-post" id="title-post">
            <button type="button" class="btn btn-primary btn-lg btn-block">Create</button>
        </div>
    </form>
</div>