<h2>Signup</h2>
<form class="signup-form">
    <label for="name-signup">Name</label>
    <br>
    <input class="form-input" type="text" id="name-signup" /> 
    <br>
    <br>
    <label for="email-signup">Email</label>
    <br>
    <input class="form-input" type="text" id="email-signup" /> 
    <br>
    <br>
    <label for="password-signup">Password</label>
    <br>
    <input class="form-input" type="password" id="password-signup" /> 
    <br>
    <br>
    <button type="submit">Signup</button>
</form>

<script src="./js/signup.js"></script>