body {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


nav {
    height: 25%;
    background-color: teal;
    text-align: left;
}

li {
    display:inline-block;
    text-justify: auto;
}

h1 {
    color: white;
}

.nav-link{
    color: white;
}
.all-posts{
    color:white;

}
/* a {
    color: white;
} */